mcgw_api_gateway_url=http://apigw11:5555
mcgw_api_gateway_user=Administrator
mcgw_api_gateway_password=manage
mcgw_downloads_apis=HelloWorldAPI, FileManagementAPI
mcgw_ports_http="9090"
mcgw_ports_https="9093"
mcgw_microgatewayPool_microgatewayPoolName=microgateway
mcgw_aliases_helloworld_be_url_type=endpoint
mcgw_aliases_helloworld_be_url_endPointURI=http://stt-hello-world:5555/hello-world
mcgw_aliases_filemanagement_be_url_type=endpoint
mcgw_aliases_filemanagement_be_url_endPointURI=http://stt-hello-world:5555/rad/fr.sttlab.api:FileManagementAPI
mcgw_applications_sync_enabled="true"
mcgw_applications_sync_polling_interval_secs="10"